<article class="bio-card">
    <figure class="bio-image">
        <img src="{{ include.avatar }}" alt="{{ include.name }}'s profile picture" class="profile-picture" />
    </figure>
    <div class="bio-content">
        <h2 class="bio-name">{{ include.name }}</h2>
        <p class="bio-description">{{ include.bio }}</p>
        <hr class="bio-divider">
        <ul class="bio-links">
            {% if include.github %}
            <li>
                <a href="{{ include.github }}" aria-label="{{ include.name }} on GitHub">
                    <img src="/assets/icons/bxl-github.svg" alt="GitHub" class="icon"> GitHub
                </a>
            </li>
            {% endif %}
            {% if include.itchio %}
            <li>
                <a href="{{ include.itchio }}" aria-label="{{ include.name }} on Itch.io">
                    <img src="/assets/icons/bxl-itchio.svg" alt="Itch.io" class="icon"> Itch.io
                </a>
            </li>
            {% endif %}
            {% if include.twitter %}
            <li>
                <a href="{{ include.twitter }}" aria-label="{{ include.name }} on Twitter">
                    <img src="/assets/icons/bxl-twitter.svg" alt="Twitter" class="icon"> Twitter
                </a>
            </li>
            {% endif %}
            {% if include.youtube %}
            <li>
                <a href="{{ include.youtube }}" aria-label="{{ include.name }} on YouTube">
                    <img src="/assets/icons/bxl-youtube.svg" alt="YouTube" class="icon"> YouTube
                </a>
            </li>
            {% endif %}
            {% if include.twitch %}
            <li>
                <a href="{{ include.twitch }}" aria-label="{{ include.name }} on Twitch">
                    <img src="/assets/icons/bxl-twitch.svg" alt="Twitch" class="icon"> Twitch
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</article>