<div id="skills">
    <h3>Skills</h3>
    <ul class="skills-list">
        {% for skill in include.contact.skills %}
        <li>{{ skill }}</li>
        {% endfor %}
    </ul>
</div>


<div id="experience">
    <h3>Experience</h3>
    <ul class="experience-list">
        {% for exp in include.contact.experience %}
        <li>
            <strong>{{ exp.title }}</strong>
            <i>{{ exp.period }}</i>
            <p>{{ exp.description }}</p>
        </li>
        {% endfor %}
    </ul>
</div>


<div id="education">
    <h3>Education</h3>
    <ul class="education-list">
        {% for edu in include.contact.education %}
        <li>
            <strong>{{ edu.degree }} - {{ edu.institution }}</strong>
            <i>{{ edu.period }}</i>
        </li>
        {% endfor %}
    </ul>
</div>