:root {
    --color-primary: #ffffff;
    --color-secondary: #000000;
    --color-accent: rgb(245, 100, 32);
    --body-gradient-start: #16222a;
    --body-gradient-end: #484848;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, var(--body-gradient-start), var(--body-gradient-end));
    color: var(--color-primary);
    min-height: 100vh;
}