@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
    /* --nav-bg-color: #1a1a2e; 
    --nav-text-color: #e7e7e7; 
    --nav-highlight-color: ; */

    --body-gradient-start: #16222a;
    --body-gradient-end: #484848;

    --text-color: #ccc;
    --text-accent-color: red;
    --text-color-hover: #aaa;

    --nav-dropdown-bg: #16222a;
    --nav-highlight-color: red;
    --nav-highlight-text: white;

    /* --nav-hover-color: #ddd;
    --nav-link-color: #222;

    --nav-dropdown-hover-bg: rgb(52, 147, 224);
    --nav-dropdown-text: #fff;
    --nav-dropdown-hover-text: rgb(199, 224, 245);
    --nav-toggle-bar-color: #000;
    --nav-toggle-bar-hover-color: var(--navbar-text-color-focus);  */
}

/* reset */
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background: linear-gradient(90deg, var(--body-gradient-start), var(--body-gradient-end));
    color: var(--text-color);
}

main {
    flex: 1;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.branding {
    display: flex;
    align-items: center;
}

.branding h1 {
    font-size: 2rem;
    color: var(--text-color);
    padding-left: 1rem;
    margin: 0;
}

.branding a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.branding svg {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.nav-toggle {
    display: none;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    overflow: visible;
}

.nav-menu li {
    list-style: none;
    position: relative;
    white-space: nowrap;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-accent-color);
}

.nav-menu li a {
    font-size: 1rem;
    color: var(--text-accent-color);
    text-decoration: none;
}

.nav-menu li a:hover {
    color: var(--text-color-hover);
}

/* Dropdown */
.nav-menu .dropdown {
    position: relative;
    z-index: 100;
}

.nav-menu .dropdown ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: -30px;
    opacity: 0;
    visibility: hidden;
    overflow: visible;
    padding: 0 1rem;
    transition: all 0.4s ease;
}

.nav-menu .dropdown:hover > ul {
    top: 100%;
    left: 0;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    padding: 0 1rem;
}

.nav-menu .dropdown ul li {
    padding: 0.7rem;
    background-color: var(--nav-dropdown-bg);
    position: relative;
}

.nav-menu .dropdown ul li:hover {
    background-color: var(--nav-highlight-color);
}

.nav-menu .dropdown ul li:hover a {
    color: var(--nav-highlight-text);
}

.nav-menu .dropdown ul li a {
    display: block;
    color: var(--text-color);
    text-transform: capitalize;
}

.nav-menu .dropdown ul li a:hover {
    display: block;
    color: var(--nav-highlight-text);
}

/* arrow for dropdown */
.nav-menu .dropdown:after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 0.875rem;
    padding-left: 5px;
    color: var(--text-color);
}

.nav-menu .dropdown:hover:after {
    content: "\f106";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 0.875rem;
    padding-left: 5px;
    color: var(--text-color-hover);
}

/* Hero */

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/hero.jpg");
    background-position: center center;
    background-size: cover;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-text {
    color: #ddd;
    text-align: center;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 1.5rem;
}

/* Posts */

.nav-container.post-navbar {
    position: relative;
}

.post {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
}

.post-title {
    margin: 0;
    font-size: 2.5em;
}

.post-description {
    margin-bottom: 1.5em;
}

.post-hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 500px;
}

.post-hero-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.post-content p {
    margin-bottom: 1em;
}

/* Game button */
.game-page-button-container {
    text-align: center;
    margin-top: 20px;
}

.game-page-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 300;

    border: none;
    cursor: pointer;
}

.game-page-button:hover,
.game-page-button:focus {
    background-color: #cc0000;
    outline: none;
}

/* post image gallery */

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 20px;
}

.image-gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

/* About */

.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
}

.left-column, .right-column {
    padding: 20px;
}

.skills-list{
    list-style-position: inside; 
    padding-left: 0;
}

.skills-list li, .experience-list li, .education-list li {
    margin-left: 20px;
}

.cv-info-heading {
    text-align: center;
}

.experience-list li i, .education-list li i {
    margin-left: 20px;
    margin-bottom: 10px;
}


.experience-list li p, .education-list li p {
    margin-left: 40px;
}

.experience-list li h4, .education-list li h4 {
    margin-bottom: 5px;
}


#skills, #experience, #education {
    margin-bottom: 20px;
}

#experience li, #education li {
    margin-bottom: 15px;
}

#skills h3, #experience h3, #education h3 {
    margin-bottom: 10px;
}

/* Bio Card Styles */
.left-column {
    flex: 1 1 300px; 
    margin-right: 20px;
}

.right-column {
    flex: 3 1 600px;
}

.about-section, .cv-info {
    margin-bottom: 20px;
}

/* bio card */
.bio-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f988;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 20px auto;
}

.bio-image {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

.bio-image img {
    width: 100%;
    height: auto;
}

.bio-content {
    text-align: left;
}

.bio-name {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #111;
}

.bio-description {
    font-style: italic;
    margin: 10px 0;
    color: #333;
}

.bio-divider {
    width: 80%;
    border-top: 1px solid #333;
    margin: 20px 0;
}

.bio-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
}

.bio-links li {
    display: flex;

    align-items: center;
}

.bio-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #111;
    font-weight: 500;
}

.bio-links a:hover {
    color: var(--text-accent-color);
}

.bio-links i {
    margin-right: 5px;
}

/* Footer */

.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--footer-bg-color);
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links li a {
    color: var(--link-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.footer-links li a i {
    margin-right: 8px;
}

.footer-links li a:hover {
    color: var(--link-hover-color);
}

.footer-links li a:focus {
    outline: 2px solid var(--link-focus-outline-color);
    outline-offset: 2px;
}

@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-menu {
        margin-top: 10px;
    }

    .nav-menu li {
        margin-right: 0;
    }
}
